.relme li a {
  .svg-facebook {
    color:   #3b5998;
  }
  .svg-feed {
    color:   #ff6600;
  }
  .svg-twitter, .svg-twitter-alt {
    color:   #55ACEE;
  }
  .svg-dribbble {
    color:   #ea4c89;
  }
  .svg-google-plus, .svg-google-plus-alt {
    color: #dd4b39;
  }
  .svg-pinterest, .svg-pinterest-alt {
    color:   #c8232c;
  }
  .svg-github {
    color:   #171515;
  }
  .svg-tumblr {
    color:   #34526f;
  }
	.svg-youtube {
    color:   #c4302b;
  }
  .svg-flickr {
    color:   #ff0084;
  }
  .svg-vimeo {
    color:   #1AB7EA;
  }
  .svg-instagram {
    color:   #3f729b;
  }
  .svg-codepen {
    color:   #000;
  }
  .svg-linkedin, .svg-linkedin-alt {
    color:   #0e76a8;
  }
  .svg-skype {
    color:   #12A5F4;
  }
  .svg-reddit{
    color: #000;
  }
  .svg-foursquare {
    color: #000;
  }
  .svg-pocket {
    color: #e61010;
  }
  .svg-dropbox {
    color: #007ee5;
  }
  .svg-wordpress {
		color: #464646;
  }
}
