.relme li a {
  .svg-facebook {
    color:   #3b5998;
  }
  .svg-feed {
    color:   #ffa500;
  }
  .svg-twitter, .svg-twitter-alt {
    color:   #1DA1F2;
  }
  .svg-dribbble {
    color:   #ea4c89;
  }
  .svg-google-plus, .svg-google-plus-alt {
    color: #dc4e41;
  }
  .svg-pinterest, .svg-pinterest-alt {
    color:   #bd081c;
  }
  .svg-github {
    color:   #181717;
  }
  .svg-tumblr {
    color:   #36465D;
  }
  .svg-youtube {
    color:   #FF0000;
  }
  .svg-flickr {
    color:   #0063DC;
  }
  .svg-vimeo {
    color:   #1AB7EA;
  }
  .svg-instagram {
    color:   #E4405F;
  }
  .svg-codepen {
    color:   #000000;
  }
  .svg-linkedin, .svg-linkedin-alt {
    color:   #0077B5;
  }
  .svg-skype {
    color:   #00AFF0;
  }
  .svg-reddit{
    color: #FF4500;
  }
  .svg-foursquare {
    color: #F94877;
  }
  .svg-pocket {
    color: #EF3F56;
  }
  .svg-dropbox {
    color: #0061FF;
  }

  .svg-soundcloud {
   color: #FF3300;
  }

  .svg-swarm {
	  color: #FFA633;
  }

  .svg-wordpress {
	color: #21759B;
  }

  .svg-podcasts {
	  color: #9933CC;
  }

  .svg-meetup {
	  color: #ED1C40;
  }

  .svg-gnusocial {
	  color: #A22430;
  }

  .svg-ebay {
	  color: #E53238;
  }

  .svg-quora {
	  color: #B92B27;
  }

 .svg-yelp {
	 color: #C41200;
 }

 .svg-gitlab {
	 color: #E24329;
 }

 .svg-stumbleupon {
	 color: #EB4924;
 }

 .svg-eventbrite {
	 color: #F6682F;
 }

 .svg-strava {
	 color: #FC4C02;
 }

 .svg-etsy {
	 color: #F45800;
 }

 .svg-stackoverflow {
	 color: #FE7A16;
 }

 .svg-goodreads {
	 color: #663300;
 }

 .svg-bitcoin {
	 color: #F7931A;
 }

 .svg-amazon {
	 color: #FF9900;
 }

 .svg-snapchat {
	 color: #FFFC00;
 }

 .svg-android {
	 color: #A4C639;
 }

 .svg-tripadvisor {
	 color: #589442;
 }

 .svg-travisci {
	 color: #39A85B;
 }

 .svg-deviantart {
	 color: #05CC47;
 }

 .svg-evernote {
	 color: #2DBE60;
 }

 .svg-whatsapp {
	 color: #25D366;
 }

 .svg-slack {
	 color: #56B68B;
 }

 .svg-slashdot {
	 color: #026664;
 }

 .svg-runkeeper {
	 color: #2DC9D7;
 }

 .svg-bandcamp {
	 color: #408294;
 }

 .svg-livejournal {
	 color: #00B0EA;
 }

 .svg-mailchimp {
	 color: #2C9AB7;
 }

 .svg-telegram {
	 color: #2CA5E0;
 }

 .svg-500px {
	 color: #0099E5;
 }

 .svg-mastodon {
	 color: #189EFC;
 }

 .svg-lanryd {
	 color: #3C80CA;
 }

 .svg-dailymotion {
	 color: #0066DC;
 }

 .svg-bitbucket {
	 color: #0052CC;
 }

 .svg-jira {
	 color: #172B4D;
 }

 .svg-pinboard {
	 color: #0000FF;
 }

 .svg-twitch {
	color: #6441A5; 
 }
 .svg-apple {
	color: #999999;
 }

 .svg-automatic {
	 color: #7D8084;
 }

 .svg-ghost {
	 color: #718087;
 }

 .svg-microsoft {
	 color: #666666;
 }

 .svg-circleci {
	 color: #343434;
 }

 .svg-instapaper {
	 color: #1F1F1F;
 }

 .svg-medium {
	 color: #1C1B1A;
 }

 .svg-spotify {
	 color: #1ED760;
 }

 .svg-diaspora {
	 color: #000000;
 }

 .svg-discord {
	 color: #7289DA;
 }

 .svg-bing {
	 color: #008373;
 }

 .svg-behance {
	 color: #1769FF;
 }

 .svg-aboutme {
	 color: #00A98F;
 }

 .svg-ello {
	 color: #000000;
 }

 .svg-googleallo {
	 color: #ECB842;
 }

 .svg-googlehangouts {
	 color: #0C9D58;
 }

 .svg-gravatar {
	 color: #1E8CBE;
 }

 .svg-imdb {
	 color: #E6B91E;
 }

 .svg-keybase {
	 color: #33A0FF;
 }

 .svg-lastfm {
	 color: #D51007;
 }

 .svg-livestream {
	 color: #CF202E;
 }

 .svg-mixcloud {
	 color: #314359;
 }

 .svg-myspace {
	 color: #030303;
 }

 .svg-periscope {
	 color: #40A4C4;
 }

}
