.svg-icon {
	svg {
		fill: currentColor;
		vertical-align: middle;
		top: -0.0625em;
		:hover {
			filter: brightness(50%);
		}
	}
}


.relme ul{
	li {
  		display: inline-block;
		padding-right: 3px;
		svg {
			height: 32px;
			width: 32px;
		}
  		a {
   			text-decoration: none;
				color: black;
				.relmename {
					display: none;
				}
		}
		a:hover {
			text-decoration: none;
  			cursor: pointer;
			svg {
				color: grey;
			}
	  	}
		a:visited {
			color: black;
		}
  	}
	display: inline-block;
	list-style: none;
	vertical-align: top;
	margin: 0;
	padding: 1px;
}
