.relme-icon {
	svg {
		fill: currentColor;
		vertical-align: middle;
		top: -0.0625em;
	}
}

.relme ul{
	li {
		:hover {
			text-decoration: none;
 			cursor: pointer;
			filter: brightness(120%);
		}
  		display: inline-block;
		padding-right: 3px;
		svg {
			height: 2em;
			width: 2em;
		}
  		a {
   			text-decoration: none;
			.relmename {
				display: none;
			}
		}
  	}
	display: inline-block;
	list-style: none;
	vertical-align: top;
	margin: 0;
	padding: 1px;
}
