/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

* Link Style
* Social Icons
* Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Link Style
--------------------------------------------------------------*/
.svg-icon {
  fill: currentColor;
  vertical-align: middle;
  /*  position: relative;  Align more nicely with capital letters */
  top: -0.0625em; }

.relme ul {
  display: inline-block;
  list-style: none;
  text-align: top;
  margin: 0;
  padding: 1px; }
  .relme ul .svg-icon {
    height: 2em;
    width: 2em; }
  .relme ul li {
    display: inline-block;
    padding-right: 5px; }
    .relme ul li a {
      text-decoration: none;
      color: black; }
      .relme ul li a .relmename {
        display: none; }
    .relme ul li a:hover {
      text-decoration: none;
      cursor: pointer; }
      .relme ul li a:hover .svg-icon {
        color: grey; }
    .relme ul li a:visited {
      color: black; }

/*--------------------------------------------------------------
Social Icons
--------------------------------------------------------------*/
.relme li a .svg-facebook {
  color: #3b5998; }

.relme li a .svg-feed {
  color: #ffa500; }

.relme li a .svg-twitter, .relme li a .svg-twitter-alt {
  color: #1DA1F2; }

.relme li a .svg-dribbble {
  color: #ea4c89; }

.relme li a .svg-google-plus, .relme li a .svg-google-plus-alt {
  color: #dc4e41; }

.relme li a .svg-pinterest, .relme li a .svg-pinterest-alt {
  color: #bd081c; }

.relme li a .svg-github {
  color: #181717; }

.relme li a .svg-tumblr {
  color: #36465D; }

.relme li a .svg-youtube {
  color: #FF0000; }

.relme li a .svg-flickr {
  color: #0063DC; }

.relme li a .svg-vimeo {
  color: #1AB7EA; }

.relme li a .svg-instagram {
  color: #E4405F; }

.relme li a .svg-codepen {
  color: #000000; }

.relme li a .svg-linkedin, .relme li a .svg-linkedin-alt {
  color: #0077B5; }

.relme li a .svg-skype {
  color: #00AFF0; }

.relme li a .svg-reddit {
  color: #FF4500; }

.relme li a .svg-foursquare {
  color: #F94877; }

.relme li a .svg-pocket {
  color: #EF3F56; }

.relme li a .svg-dropbox {
  color: #0061FF; }

.relme li a .svg-soundcloud {
  color: #FF3300; }

.relme li a .svg-swarm {
  color: #FFA633; }

.relme li a .svg-wordpress {
  color: #21759B; }

.relme li a .svg-podcasts {
  color: #9933CC; }

.relme li a .svg-meetup {
  color: #ED1C40; }

.relme li a .svg-gnusocial {
  color: #A22430; }

.relme li a .svg-ebay {
  color: #E53238; }

.relme li a .svg-quora {
  color: #B92B27; }

.relme li a .svg-yelp {
  color: #C41200; }

.relme li a .svg-gitlab {
  color: #E24329; }

.relme li a .svg-stumbleupon {
  color: #EB4924; }

.relme li a .svg-eventbrite {
  color: #F6682F; }

.relme li a .svg-strava {
  color: #FC4C02; }

.relme li a .svg-etsy {
  color: #F45800; }

.relme li a .svg-stackoverflow {
  color: #FE7A16; }

.relme li a .svg-goodreads {
  color: #663300; }

.relme li a .svg-bitcoin {
  color: #F7931A; }

.relme li a .svg-amazon {
  color: #FF9900; }

.relme li a .svg-snapchat {
  color: #FFFC00; }

.relme li a .svg-android {
  color: #A4C639; }

.relme li a .svg-tripadvisor {
  color: #589442; }

.relme li a .svg-travisci {
  color: #39A85B; }

.relme li a .svg-deviantart {
  color: #05CC47; }

.relme li a .svg-evernote {
  color: #2DBE60; }

.relme li a .svg-whatsapp {
  color: #25D366; }

.relme li a .svg-slack {
  color: #56B68B; }

.relme li a .svg-slashdot {
  color: #026664; }

.relme li a .svg-runkeeper {
  color: #2DC9D7; }

.relme li a .svg-bandcamp {
  color: #408294; }

.relme li a .svg-livejournal {
  color: #00B0EA; }

.relme li a .svg-mailchimp {
  color: #2C9AB7; }

.relme li a .svg-telegram {
  color: #2CA5E0; }

.relme li a .svg-500px {
  color: #0099E5; }

.relme li a .svg-mastodon {
  color: #189EFC; }

.relme li a .svg-lanryd {
  color: #3C80CA; }

.relme li a .svg-dailymotion {
  color: #0066DC; }

.relme li a .svg-bitbucket {
  color: #0052CC; }

.relme li a .svg-jira {
  color: #172B4D; }

.relme li a .svg-pinboard {
  color: #0000FF; }

.relme li a .svg-twitch {
  color: #6441A5; }

.relme li a .svg-apple {
  color: #999999; }

.relme li a .svg-automatic {
  color: #7D8084; }

.relme li a .svg-ghost {
  color: #718087; }

.relme li a .svg-microsoft {
  color: #666666; }

.relme li a .svg-circleci {
  color: #343434; }

.relme li a .svg-instapaper {
  color: #1F1F1F; }

.relme li a .svg-medium {
  color: #1C1B1A; }

.relme li a .svg-spotify {
  color: #1ED760; }

.relme li a .svg-diaspora {
  color: #000000; }

.relme li a .svg-discord {
  color: #7289DA; }

.relme li a .svg-bing {
  color: #008373; }

.relme li a .svg-behance {
  color: #1769FF; }

.relme li a .svg-aboutme {
  color: #00A98F; }

.relme li a .svg-ello {
  color: #000000; }

.relme li a .svg-googleallo {
  color: #ECB842; }

.relme li a .svg-googlehangouts {
  color: #0C9D58; }

.relme li a .svg-gravatar {
  color: #1E8CBE; }

.relme li a .svg-imdb {
  color: #E6B91E; }

.relme li a .svg-keybase {
  color: #33A0FF; }

.relme li a .svg-lastfm {
  color: #D51007; }

.relme li a .svg-livestream {
  color: #CF202E; }

.relme li a .svg-mixcloud {
  color: #314359; }

.relme li a .svg-myspace {
  color: #030303; }

.relme li a .svg-periscope {
  color: #40A4C4; }

/*--------------------------------------------------------------
Widgets
--------------------------------------------------------------*/
#hcard_widget {
  text-align: left; }
  #hcard_widget img {
    display: inline; }

#relme_widget {
  font-size: 24px;
  text-align: left; }
