/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

* Link Style
* Social Icons
* Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Link Style
--------------------------------------------------------------*/
.svg-icon {
  fill: currentColor;
  vertical-align: middle;
  /*  position: relative;  Align more nicely with capital letters */
  top: -0.0625em; }

.relme ul {
  display: inline-block;
  list-style: none;
  text-align: top;
  margin: 0;
  padding: 1px; }
  .relme ul .svg-icon {
    height: 42px;
    width: 42px; }
  .relme ul li {
    display: inline-block;
    padding-right: 3px; }
    .relme ul li a {
      text-decoration: none;
      color: black; }
      .relme ul li a .relmename {
        display: none; }
    .relme ul li a:hover {
      text-decoration: none;
      cursor: pointer; }
      .relme ul li a:hover .svg-icon {
        color: grey; }
    .relme ul li a:visited {
      color: black; }

/*--------------------------------------------------------------
Social Icons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Widgets
--------------------------------------------------------------*/
#hcard_widget {
  text-align: left; }
  #hcard_widget img {
    display: inline; }

#relme_widget {
  font-size: 24px;
  text-align: left; }
