/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

* Getting Started
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Getting Started
--------------------------------------------------------------*/
.indieweb-getting-started *, .indieweb-getting-started *::after, .indieweb-getting-started *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.indieweb-getting-started .indieweb-flex-container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap; }

.indieweb-getting-started .indieweb-flex {
  padding: 0 20px 50px;
  width: 50%; }

@media screen and (max-width: 767px) {
  .indieweb-getting-started .indieweb-flex-container {
    display: block; }
  .indieweb-getting-started .indieweb-flex {
    width: 100%; } }
