/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

* Link Style
* Social Icons
* Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Link Style
--------------------------------------------------------------*/
.svg-icon svg {
  fill: currentColor;
  vertical-align: middle;
  top: -0.0625em; }
  .svg-icon svg :hover {
    filter: brightness(50%); }

.relme ul {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  margin: 0;
  padding: 1px; }
  .relme ul li {
    display: inline-block;
    padding-right: 3px; }
    .relme ul li svg {
      height: 32px;
      width: 32px; }
    .relme ul li a {
      text-decoration: none;
      color: black; }
      .relme ul li a .relmename {
        display: none; }
    .relme ul li a:hover {
      text-decoration: none;
      cursor: pointer; }
      .relme ul li a:hover svg {
        color: grey; }
    .relme ul li a:visited {
      color: black; }

/*--------------------------------------------------------------
Social Icons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Widgets
--------------------------------------------------------------*/
#hcard_widget {
  text-align: left; }
  #hcard_widget img {
    display: inline; }

#relme_widget {
  font-size: 24px;
  text-align: left; }
